<html>
<head>
<title>Marky's Bloggy</title>
</head>

<body>
<h1>Marky's Bloggy</h1>

{{ content | safe }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>